.container {
	color: white;
	display: flex;
	flex-direction: column;
	padding-top: 10%;
	padding-bottom: 5%;
	justify-content: center;
	flex-wrap: wrap;
}

.bookDetailsContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.ratingsAndAuthorContainer {
	display: flex;
	flex-direction: column;
}
