.subtotal-text {
	color: white;
}

.saved-for-later-text {
	color: white;
}

.title-text {
	font-size: 40px;
	color: white;
	line-height: 1.1;
	font-weight: 600;
	letter-spacing: 0;
	padding-bottom: 2px;
}

.free-text {
	color: white;
}

.shopping-cart-page-container {
	padding: 50px;
}

.cart-container {
	margin-top: 50px;
	padding: 15px;
}

.totals-container {
	width: 50%;
	margin-left: 50%;
}
