.listing-container-outer {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.listing-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: content-box;
  padding-bottom: 30px;
  white-space: nowrap;
}

.listing-container-blur {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  pointer-events: none;
  box-shadow: 0 5px 8px 22px #0b0e14 inset;
}

.listing-header {
  padding: 10px;
  color: white !important;
}

.listing-header > a {
  float: right;
  display: inline-block;
  color: white;
}

.listing-header > a > h6 {
  margin: 0 10px;
  font-size: 12pt;
}
