.book-browser-container {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  margin-top: 65px;
}

.filters-sidebar {
  width: 250px;
  height: 65%;
  background-color: #171b23;
  bottom: 0;
  position: fixed;
  box-shadow: 0px 6px 13px #000
}

.filters-sidebar > .filters {
  height: 100%; width: 100%;
  overflow: hidden;
}

.filters-sidebar > .filters > .inner {
  width: 100%; height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
  padding-right: 17px;
}

.book-collection {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  margin-left: 250px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 225px;
}
