.book-browser-container {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  margin-top: 65px;
}

.filters-sidebar {
  width: 250px;
  height: auto;
  max-height: 85%;
  background-color: #171b23;
  bottom: 0;
  position: fixed;
  box-shadow: 0px 6px 13px #000;
  padding-bottom: 20px;
  overflow: auto;
}

.filters-sidebar > .filters {
  height: 100%; width: 100%;
  overflow: hidden;
}

.filters-sidebar > .filters > .inner {
  width: 100%; height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
  padding-right: 17px;
}

.book-collection-container {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  margin-left: 250px;
  overflow-x: hidden;
  padding-top: 75px;
}

.book-collection-container > .top-bar {
  position: relative;
  width: 100%;
  height: 35px;
}

.top-bar .dropdown-button {
  float: right;
  width: 65px;
  color: white;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #171b23;
  font-size: 10pt;
}

.top-bar .dropdown-button:hover {
  cursor: pointer;
}

.book-collection {
  position: relative;
  width: 100%; height: 100%;
  padding: 0px 15px 15px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 225px;
}

.book-sorter {
  float: right;
}
